+++
title = "Brainhack cloud"
linkTitle = "Brainhack cloud"

+++

<section class="row td-box -bg-dark justify-content-center h-50 ">
	<div class="col-md-6 col-lg-first order-xs-2 order-sm-2 order-md-2 my-auto">
		<h2>Get started with Brainhack cloud</h2>
		<div class="mx-auto mt-5">
			<a class="btn btn-lg btn-secondary mr-3 mb-4" href="docs/request">
			<i class="fas fa-server"></i> Apply for Cloud Resources </a>
			<a class="btn btn-lg btn-secondary mr-3 mb-4" href="tutorials">
			<i class="fas fa-cloud"></i> Tutorials </a>
		</div>
	</div>
	<div class="col-md-3 col-lg-1 order-xs-first order-sm-first order-md-last text-center my-auto">
		<p>
			<img src = "logo.png" style="width:200px; padding:10px" alt="brainhack logo">
			<br>
			<a href="https://www.oracle.com/research/?source=:pp:sn:::::RC_WWMK211117P00113:Evergreen_General_WWMK211117P00113_Sponshorship">
				<img src="oracle.png" style="width:200px; padding:10px">
			</a>
		</p>
	</div>
</section>


{{< blocks/section color="light" >}}
	{{% blocks/feature icon="fa fa-users" title="What is Brainhack Cloud?" url="https://brainhack.org/brainhack_cloud/admins/team/" %}}
	A team of brainhack volunteers applied for Oracle Cloud Credits to support open source projects in and around brainhack with powerful cloud resources
	{{% /blocks/feature %}}
	{{% blocks/feature icon="fa fa-question-circle" title="Discussions" url="https://github.com/brainhackorg/brainhack_cloud/discussions" %}}
	Ask questions or raise any issues you have
	{{% /blocks/feature %}}
	{{% blocks/feature icon="fa fa-question-circle" title="What is Oracle for Research?" url="https://www.oracle.com/research/?source=:pp:sn:::::RC_WWMK211117P00113:Evergreen_General_WWMK211117P00113_Sponshorship" %}}
	Oracle for Research supports academic, educational, and institutional researchers in all aspects of discovery. We've made it simple for them to host, store and analyze their data with our cloud infrastructure solutions. Our research customers are changing the world - and we're proud to help them do it.
	{{% /blocks/feature %}}
{{< /blocks/section >}}
